<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.chapterfour.dao.UserMapper">

    <resultMap id="BaseResultMap" type="com.learn.chapterfour.domain.SysUser">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_password" jdbcType="VARCHAR" property="userPassword"/>
        <result column="user_email" jdbcType="VARCHAR" property="userEmail"/>
        <result column="user_info" jdbcType="VARCHAR" property="userInfo"/>
        <result column="head_img" jdbcType="BLOB" property="headImg"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <select id="selectUserById" resultMap="BaseResultMap">
        select * from sys_user where id = #{id}
    </select>

    <!--没有任何考虑的条件查询，但是如果出现提供的参数为空，就没有办法了-->
    <select id="selectByUserNameAndEmail" resultMap="BaseResultMap">
        select * from sys_user where user_name like concat('%',#{userName},'%') and user_email = #{userEmail}
    </select>

    <select id="selectByDynamicSQL" resultMap="BaseResultMap">
        select * from sys_user where 1=1
        <if test="userName!=null and userName !=''">
            and user_name like concat('%',#{userName},'%')
        </if>
        <if test="userEmail != null and userEmail != ''">
            and user_email = #{userEmail}
        </if>
    </select>

    <update id="updateByIdSelective">
        update sys_user set
        <if test="userName!=null and userName !=''">
            user_name = #{userName},
        </if>
        <if test="userPassword!=null and userPassword !=''">
            user_password = #{userPassword},
        </if>
        <if test="userEmail!=null and userEmail !=''">
            user_email = #{userEmail},
        </if>
        <if test="userInfo!=null and userInfo !=''">
            user_info = #{userInfo},
        </if>
        <if test="headImg!=null">
            head_img = #{headImg},
        </if>
        <if test="userName!=null">
            create_time = #{createTime,jdbcType=TIMESTAMP},
        </if>
        id = #{id}

        where id = #{id}
    </update>

    <insert id="insertSysUserDynamicSQL" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user(user_name,user_password,
        <if test="userEmail != null and userEmail != ''">user_email,</if>
        user_info,head_img,create_time) values (#{userName},#{userPassword},
        <if test="userEmail != null and userEmail !=''">#{userEmail},</if>
        #{userInfo},#{headImg,jdbcType = BLOB},
        #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="selectUserByIdOrUserName" resultMap="BaseResultMap">

        select * from sys_user where 1 =1
        <choose>
            <when test="id != null">
                and id = #{id}
            </when>
            <when test="userName != null and userName != ''">
                and user_name = #{userName}
            </when>
            <otherwise>
                1 = 2
            </otherwise>
        </choose>

    </select>

    <!--将where标签也加入了，这样就避免了写1=1的逻辑，这里当if条件都不满足的时候where中没有内容-->
    <select id="selectByUser" resultMap="BaseResultMap">
        select * from sys_user
        <where>
            <if test="userName != null and userName !=''">
                and user_name like concat('%',#{userName},'%')
            </if>
            <if test="userEmail != null and userEmail != ''">
                and user_email = #{userEmail}
            </if>
        </where>
    </select>

    <update id="updateByIdSelectiveBySet">

        update sys_user
        <set>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="userPassword != null and userPassword != ''">
                user_password = #{userPassword},
            </if>
            <if test="userEmail != null and userEmail != ''">
                user_email = #{userEmail},
            </if>
            <if test="userInfo != null and userInfo != ''">
                user_info = #{userInfo},
            </if>
            <if test="headImg != null">
                head_img = #{headImg,jdbcType=BLOB},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            id = #{id},
        </set>
        where id = #{id}
    </update>

    <!--foreach的用法-->
    <select id="selectByIdList" resultMap="BaseResultMap">
        select * from sys_user
        where id in
        <foreach collection="ids" open="(" close=")" separator="," item="id" index="i">
          #{id}
        </foreach>
    </select>

    <!--foreach实现批量插入-->
    <insert id="insertUsers" useGeneratedKeys="true" keyProperty="id">

        insert into sys_user (user_name,user_password,user_email,user_info,head_img,create_time)
        values
        <foreach collection="users" item="user" separator=",">
            (
            #{user.userName},#{user.userPassword},#{user.userEmail},
            #{user.userInfo},#{user.headImg,jdbcType=BLOB},
            #{user.createTime,jdbcType=TIMESTAMP})
        </foreach>

    </insert>

    <!--foreach实现动态update  暂时没加入实例-->
    <update id="updateUsers">
        update sys_user
        set
        <foreach collection="values" item="val" index="key" separator=",">
            ${key} = #{val}
        </foreach>
        where id = #{id}
    </update>
</mapper>
