<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.learn.chapter05.dao.SchemaAutoIncrementColumnsMapper" >
  <resultMap id="BaseResultMap" type="com.learn.chapter05.domain.SchemaAutoIncrementColumns" >
    <result column="table_schema" property="tableSchema" jdbcType="VARCHAR" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="column_name" property="columnName" jdbcType="VARCHAR" />
    <result column="data_type" property="dataType" jdbcType="VARCHAR" />
    <result column="is_signed" property="isSigned" jdbcType="INTEGER" />
    <result column="is_unsigned" property="isUnsigned" jdbcType="INTEGER" />
    <result column="max_value" property="maxValue" jdbcType="BIGINT" />
    <result column="auto_increment" property="autoIncrement" jdbcType="BIGINT" />
    <result column="auto_increment_ratio" property="autoIncrementRatio" jdbcType="DECIMAL" />
    <result column="column_type" property="columnType" jdbcType="LONGVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.learn.chapter05.domain.SchemaAutoIncrementColumns" >
    insert into schema_auto_increment_columns (table_schema, `table_name`, `column_name`, 
      data_type, is_signed, is_unsigned, 
      max_value, `auto_increment`, auto_increment_ratio, 
      column_type)
    values (#{tableSchema,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, #{columnName,jdbcType=VARCHAR}, 
      #{dataType,jdbcType=VARCHAR}, #{isSigned,jdbcType=INTEGER}, #{isUnsigned,jdbcType=INTEGER}, 
      #{maxValue,jdbcType=BIGINT}, #{autoIncrement,jdbcType=BIGINT}, #{autoIncrementRatio,jdbcType=DECIMAL}, 
      #{columnType,jdbcType=LONGVARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select table_schema, `table_name`, `column_name`, data_type, is_signed, is_unsigned, 
    max_value, `auto_increment`, auto_increment_ratio, column_type
    from schema_auto_increment_columns
  </select>
</mapper>