<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.learn.chapter05.dao.SlaveWorkerInfoMapper" >
  <resultMap id="BaseResultMap" type="com.learn.chapter05.domain.SlaveWorkerInfo" >
    <result column="Id" property="id" jdbcType="INTEGER" />
    <result column="Relay_log_pos" property="relayLogPos" jdbcType="BIGINT" />
    <result column="Master_log_pos" property="masterLogPos" jdbcType="BIGINT" />
    <result column="Checkpoint_relay_log_pos" property="checkpointRelayLogPos" jdbcType="BIGINT" />
    <result column="Checkpoint_master_log_pos" property="checkpointMasterLogPos" jdbcType="BIGINT" />
    <result column="Checkpoint_seqno" property="checkpointSeqno" jdbcType="INTEGER" />
    <result column="Checkpoint_group_size" property="checkpointGroupSize" jdbcType="INTEGER" />
    <result column="Channel_name" property="channelName" jdbcType="CHAR" />
    <result column="Relay_log_name" property="relayLogName" jdbcType="LONGVARCHAR" />
    <result column="Master_log_name" property="masterLogName" jdbcType="LONGVARCHAR" />
    <result column="Checkpoint_relay_log_name" property="checkpointRelayLogName" jdbcType="LONGVARCHAR" />
    <result column="Checkpoint_master_log_name" property="checkpointMasterLogName" jdbcType="LONGVARCHAR" />
    <result column="Checkpoint_group_bitmap" property="checkpointGroupBitmap" jdbcType="LONGVARBINARY" />
  </resultMap>
  <insert id="insert" parameterType="com.learn.chapter05.domain.SlaveWorkerInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into slave_worker_info (Relay_log_pos, Master_log_pos, Checkpoint_relay_log_pos, 
      Checkpoint_master_log_pos, Checkpoint_seqno, 
      Checkpoint_group_size, Channel_name, Relay_log_name, 
      Master_log_name, Checkpoint_relay_log_name, 
      Checkpoint_master_log_name, Checkpoint_group_bitmap
      )
    values (#{relayLogPos,jdbcType=BIGINT}, #{masterLogPos,jdbcType=BIGINT}, #{checkpointRelayLogPos,jdbcType=BIGINT}, 
      #{checkpointMasterLogPos,jdbcType=BIGINT}, #{checkpointSeqno,jdbcType=INTEGER}, 
      #{checkpointGroupSize,jdbcType=INTEGER}, #{channelName,jdbcType=CHAR}, #{relayLogName,jdbcType=LONGVARCHAR}, 
      #{masterLogName,jdbcType=LONGVARCHAR}, #{checkpointRelayLogName,jdbcType=LONGVARCHAR}, 
      #{checkpointMasterLogName,jdbcType=LONGVARCHAR}, #{checkpointGroupBitmap,jdbcType=LONGVARBINARY}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select Id, Relay_log_pos, Master_log_pos, Checkpoint_relay_log_pos, Checkpoint_master_log_pos, 
    Checkpoint_seqno, Checkpoint_group_size, Channel_name, Relay_log_name, Master_log_name, 
    Checkpoint_relay_log_name, Checkpoint_master_log_name, Checkpoint_group_bitmap
    from slave_worker_info
  </select>
</mapper>