<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.chapter06.dao.RoleMapper">

    <resultMap id="roleMap" type="com.learn.chapter06one2one.domain.SysRole">
        <id property="id" column="id"></id>
        <result column="role_name" property="roleName"></result>
        <result column="enabled" property="enabled"></result>
        <result column="create_by" property="createBy"></result>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"></result>
    </resultMap>

    <select id="selectRoleById" resultMap="roleMap">
        select * from sys_role where id = #{id}
    </select>
</mapper>
