<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.mybatislearn.dao.UserMapper">


    <resultMap id="BaseResultMap" type="com.learn.mybatislearn.domain.User">
        <result column="t_id" jdbcType="INTEGER" property="id" />
        <result column="t_userName" jdbcType="VARCHAR" property="userName" />
        <result column="t_passWord" jdbcType="VARCHAR" property="passWord" />
        <result column="t_realName" jdbcType="VARCHAR" property="realName" />
    </resultMap>


    <select id="getUserById" resultMap="BaseResultMap">
        select * from t_user where t_id = #{id}
    </select>
</mapper>
