<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.chapter06one2many.dao.UserMapper">

    <resultMap id="BaseResultMap" type="com.learn.chapter06one2many.domain.SysUser">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_password" jdbcType="VARCHAR" property="userPassword"/>
        <result column="user_email" jdbcType="VARCHAR" property="userEmail"/>
        <result column="user_info" jdbcType="VARCHAR" property="userInfo"/>
        <result column="head_img" jdbcType="BLOB" property="headImg"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <resultMap id="userRoleListMap" type="com.learn.chapter06one2many.domain.SysUser">

        <!--<id property="id" column="id"></id>-->
        <id property="userPassword" column="user_password"></id>
        <result column="id" property="id"></result>
        <result property="userName" column="user_name"></result>
        <result property="userEmail" column="user_email"></result>
        <result property="userInfo" column="user_info"></result>
        <result property="headImg" column="head_img" jdbcType="BLOB"></result>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"></result>

        <!--<collection property="roleList" columnPrefix="role_" ofType="com.learn.chapter06one2many.domain.SysRole">-->
            <!--<id property="id" column="id"></id>-->
            <!--<result property="roleName" column="role_name"></result>-->
            <!--<result property="enabled" column="enabled"></result>-->
            <!--<result property="createBy" column="create_by"></result>-->
            <!--<result property="createTime" column="create_time" jdbcType="TIMESTAMP"></result>-->
        <!--</collection>-->

        <!--使用RoleMapper本身的映射-->
        <collection property="roleList" columnPrefix="role_" resultMap="com.learn.chapter06one2many.dao.RoleMapper.roleMap"></collection>
    </resultMap>

    <!--加入了Privilege-->
    <resultMap id="userRoleListMapPrivilege" type="com.learn.chapter06one2many.domain.SysUser">

        <id property="id" column="id"></id>
        <result property="userPassword" column="user_password"></result>
        <result property="userName" column="user_name"></result>
        <result property="userEmail" column="user_email"></result>
        <result property="userInfo" column="user_info"></result>
        <result property="headImg" column="head_img" jdbcType="BLOB"></result>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"></result>

        <!--<collection property="roleList" columnPrefix="role_" ofType="com.learn.chapter06one2many.domain.SysRole">-->
        <!--<id property="id" column="id"></id>-->
        <!--<result property="roleName" column="role_name"></result>-->
        <!--<result property="enabled" column="enabled"></result>-->
        <!--<result property="createBy" column="create_by"></result>-->
        <!--<result property="createTime" column="create_time" jdbcType="TIMESTAMP"></result>-->
        <!--</collection>-->

        <!--使用RoleMapper本身的映射-->
        <collection property="roleList" columnPrefix="role_" resultMap="com.learn.chapter06one2many.dao.RoleMapper.rolePrivilegeListMap"></collection>
    </resultMap>
    
    <resultMap id="usereRoleListMapSelect" extends="BaseResultMap" type="com.learn.chapter06one2many.domain.SysUser">
        <collection property="roleList" fetchType="lazy" select="com.learn.chapter06one2many.dao.RoleMapper.selectRoleByUserId" column="{userId=id}"></collection>
    </resultMap>

    <select id="selectAllUserAndRoles" resultMap="userRoleListMap">
        select
          u.id,
          u.user_name,
          u.user_password,
          u.user_email,
          u.user_info,
          u.head_img,
          u.create_time,
          r.id role_id,
          r.role_name role_role_name,
          r.enabled role_enabled,
          r.create_by role_create_by,
          r.create_time role_create_time
        from sys_user u
        inner join sys_user_role ur on u.id = ur.user_id
        inner join sys_role r on ur.role_id = r.id
    </select>

    <select id="selectAllUserAndRolesAndPrivileges" resultMap="userRoleListMapPrivilege">
        select
          u.id,
          u.user_name,
          u.user_password,
          u.user_email,
          u.user_info,
          u.head_img,
          u.create_time,
          r.id role_id,
          r.role_name role_role_name,
          r.enabled role_enabled,
          r.create_by role_create_by,
          r.create_time role_create_time,
          p.id role_privilege_id,
          p.privilege_name role_privilege_privilege_name,
          p.privilege_url role_privilege_privilege_url
        from sys_user u
        inner join sys_user_role ur on u.id = ur.user_id
        inner join sys_role r on ur.role_id = r.id
        inner join sys_role_privilege rp on rp.role_id = r.id
        inner join sys_privilege p on p.id = rp.privilege_id;
    </select>
    
    <select id="selectAllUserAndRolesSelect" resultMap = "usereRoleListMapSelect">

        select
          u.id,
          u.user_name,
          u.user_password,
          u.user_email,
          u.user_info,
          u.head_img,
          u.create_time
        from sys_user u
        where u.id = #{id}

    </select>
</mapper>